BOT_NAME=সবুজ বাড়ি AI
VERIFY_TOKEN=tomar_verify_token_ekhane
PAGE_ACCESS_TOKEN=tomar_page_access_token_ekhane
META_APP_SECRET=tomar_meta_app_secret_ekhane
GRAPH_API_VERSION=v21.0
GEMINI_API_KEY=tomar_gemini_api_key_ekhane
GEMINI_MODEL=gemini-2.5-flash-lite
ADMIN_NAME=Arafat Rahman
ADMIN_PHONE=01780618736
PORT=5000
